package pages

import (
	"github.com/digitalmint/goaster"
	"github.com/digitalmint/goaster/examples/layouts"
	"github.com/digitalmint/goaster/examples/layouts/partials"
)

templ VariantAccentPage(toaster *goaster.Toaster) {
	@layouts.Page() {
		@partials.Head("goaster - accent variant")
		@partials.Body() {
			<!-- display the messages -->
			@toaster.Success("Success Toast")
		}
	}
}
